In [1]:
import pandas as pd
import pandas_datareader.data as web
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import os

plt.style.use('fivethirtyeight')
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

## Data generation Using Yahoo pandas web api
Returns Daily trend

In [2]:
df = None
for crypto in ['BTC', 'LTC', 'ETH', 'XRP', 'BCH', 'ADA', 'XLM', 'EOS', 'XEM', 'NEO', 'IOT', 'DASH', 'XMR', 'TRX']:
    print "Adding Data for %s" % crypto
    temp_df = web.get_data_yahoo('%s-USD'%crypto, start=datetime.datetime(2015, 1, 1), end=datetime.datetime(2018, 1, 28))
    temp_df.reset_index(inplace=True)
    del temp_df['Adj Close']
    temp_df.columns = ['Date'] + [x+"_%s"%crypto for x in temp_df.columns if x != 'Date']
    if df is None:
        df = temp_df.copy()
    else:
        df = pd.merge(df, temp_df, on='Date', how='left')
print df.columns
df.head()

Adding Data for BTC
Adding Data for LTC
Adding Data for ETH
Adding Data for XRP
Adding Data for BCH
Adding Data for ADA
Adding Data for XLM
Adding Data for EOS
Adding Data for XEM
Adding Data for NEO
Adding Data for IOT
Adding Data for DASH
Adding Data for XMR
Adding Data for TRX
Index([u'Date', u'Open_BTC', u'High_BTC', u'Low_BTC', u'Close_BTC',
       u'Volume_BTC', u'Open_LTC', u'High_LTC', u'Low_LTC', u'Close_LTC',
       u'Volume_LTC', u'Open_ETH', u'High_ETH', u'Low_ETH', u'Close_ETH',
       u'Volume_ETH', u'Open_XRP', u'High_XRP', u'Low_XRP', u'Close_XRP',
       u'Volume_XRP', u'Open_BCH', u'High_BCH', u'Low_BCH', u'Close_BCH',
       u'Volume_BCH', u'Open_ADA', u'High_ADA', u'Low_ADA', u'Close_ADA',
       u'Volume_ADA', u'Open_XLM', u'High_XLM', u'Low_XLM', u'Close_XLM',
       u'Volume_XLM', u'Open_EOS', u'High_EOS', u'Low_EOS', u'Close_EOS',
       u'Volume_EOS', u'Open_XEM', u'High_XEM', u'Low_XEM', u'Close_XEM',
       u'Volume_XEM', u'Open_NEO', u'High_NEO', u'Low_NEO', u'Close_NEO',
       u'Volume_NEO', u'Open_IOT', u'High_IOT', u'Low_IOT', u'Close_IOT',
       u'Volume_IOT', u'Open_DASH', u'High_DASH', u'Low_DASH', u'Close_DASH',
       u'Volume_DASH', u'Open_XMR', u'High_XMR', u'Low_XMR', u'Close_XMR',
       u'Volume_XMR', u'Open_TRX', u'High_TRX', u'Low_TRX', u'Close_TRX',
       u'Volume_TRX'],
      dtype='object')

,Date,Open_BTC,High_BTC,Low_BTC,Close_BTC,Volume_BTC,Open_LTC,High_LTC,Low_LTC,Close_LTC,...,Open_XMR,High_XMR,Low_XMR,Close_XMR,Volume_XMR,Open_TRX,High_TRX,Low_TRX,Close_TRX,Volume_TRX
0,2015-01-01,318.239990,321.359985,313.540009,314.890015,4073067,2.71,2.72,2.67,2.69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-02,314.890015,316.399994,313.079987,315.209991,4673971,2.69,2.69,2.64,2.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-03,315.209991,315.829987,284.890015,287.130005,14209564,2.66,2.66,2.17,2.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015-01-04,287.130005,289.940002,255.869995,264.720001,24255392,2.18,2.20,1.89,1.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015-01-05,264.720001,278.320007,262.890015,274.839996,14995382,1.95,2.17,1.94,2.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data preparation of different crypto features
Data is downloaded from blockchain.com and prepared daily price trend dataframe

In [3]:
df['Date'] = pd.to_datetime(df['Date'])

for f in os.listdir("../data/blockchain_data/"):
    if f.endswith(".csv"):
        feature = str(f).replace(".csv", "")
        print "Adding ", feature
        temp_df = pd.read_csv('../data/blockchain_data/%s' % f, header=-1)
        temp_df.columns = ['Date', feature]
        temp_df['Date'] = pd.to_datetime(temp_df['Date'])

        df = pd.merge(df, temp_df, on='Date', how='left')
print df.shape
df.head()

Adding  n-transactions
Adding  transactions-per-second
Adding  hash-rate
Adding  output-volume
Adding  mempool-size
Adding  market-cap
Adding  cost-per-transaction-percent
Adding  utxo-count
Adding  bitcoin-unlimited-share
Adding  n-transactions-excluding-popular
Adding  median-confirmation-time
Adding  n-orphaned-blocks
Adding  mempool-growth
Adding  cost-per-transaction
Adding  blocks-size
Adding  transaction-fees
Adding  estimated-transaction-volume-usd
Adding  avg-block-size
Adding  estimated-transaction-volume
Adding  mempool-count
Adding  nya-support
Adding  bip-9-segwit
Adding  miners-revenue
Adding  difficulty
Adding  trade-volume
Adding  total-bitcoins
Adding  n-unique-addresses
Adding  n-transactions-excluding-chains-longer-than-100
Adding  my-wallet-n-users
Adding  n-transactions-total
Adding  transaction-fees-usd
Adding  n-transactions-per-block
(1342, 103)

,Date,Open_BTC,High_BTC,Low_BTC,Close_BTC,Volume_BTC,Open_LTC,High_LTC,Low_LTC,Close_LTC,...,miners-revenue,difficulty,trade-volume,total-bitcoins,n-unique-addresses,n-transactions-excluding-chains-longer-than-100,my-wallet-n-users,n-transactions-total,transaction-fees-usd,n-transactions-per-block
0,2015-01-01,318.239990,321.359985,313.540009,314.890015,4073067,2.71,2.72,2.67,2.69,...,NaN,NaN,NaN,NaN,NaN,NaN,2726154.0,NaN,NaN,NaN
1,2015-01-02,314.890015,316.399994,313.079987,315.209991,4673971,2.69,2.69,2.64,2.66,...,1267761.5,4.064096e+10,6.440896e+06,13678725.0,168563.0,39083.0,2730066.0,55594094.0,3391.560724,627.0
2,2015-01-03,315.209991,315.829987,284.890015,287.130005,14209564,2.66,2.66,2.17,2.18,...,NaN,NaN,NaN,NaN,NaN,NaN,2734236.0,NaN,NaN,NaN
3,2015-01-04,287.130005,289.940002,255.869995,264.720001,24255392,2.18,2.20,1.89,1.95,...,1129778.1,4.064096e+10,5.310479e+07,13686975.0,206228.0,48874.0,2738654.0,55762496.0,5496.656838,692.0
4,2015-01-05,264.720001,278.320007,262.890015,274.839996,14995382,1.95,2.17,1.94,2.11,...,NaN,NaN,NaN,NaN,NaN,NaN,2743273.0,NaN,NaN,NaN

## Replace None values with zero

In [4]:
df.fillna(0, inplace=True)
df.tail()

,Date,Open_BTC,High_BTC,Low_BTC,Close_BTC,Volume_BTC,Open_LTC,High_LTC,Low_LTC,Close_LTC,...,miners-revenue,difficulty,trade-volume,total-bitcoins,n-unique-addresses,n-transactions-excluding-chains-longer-than-100,my-wallet-n-users,n-transactions-total,transaction-fees-usd,n-transactions-per-block
1337,2018-01-24,10853.780273,11531.599609,10506.549805,11429.019531,1286435482,177.910004,184.699997,172.419998,180.589996,...,2.702101e+07,2.227848e+12,0.000000e+00,16824437.5,576212.0,162151.0,0.0,295151660.0,3.198499e+06,1422.857955
1338,2018-01-25,11428.110352,11741.919922,10930.339844,11175.870117,1061064251,180.589996,184.690002,175.210007,178.970001,...,0.000000e+00,0.000000e+00,7.727063e+08,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000
1339,2018-01-26,11175.870117,11656.540039,10346.860352,11104.200195,1560135332,178.929993,182.149994,165.759995,175.649994,...,2.268009e+07,2.603077e+12,0.000000e+00,16828350.0,514621.0,142735.0,0.0,295608699.0,2.294142e+06,1422.316129
1340,2018-01-27,11104.339844,11638.690430,10879.200195,11459.709961,1031091633,175.649994,182.919998,173.880005,180.710007,...,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000
1341,2018-01-28,11460.389648,12064.190430,11407.940430,11767.740234,1038153169,180.710007,194.479996,180.289993,193.229996,...,0.000000e+00,0.000000e+00,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.000000

## Save DataFrame for later use

In [5]:
df.to_csv('../output/BTC_Crypto_Data.csv', index=False, sep='\t')

## Minute-by-Minute Data From Kaggle.com

In [6]:
df = pd.read_csv('../data/bitcoin-historical-data/bitstampUSD_1-min_data_2012-01-01_to_2018-01-08.csv', sep=',', header=0)

In [7]:
def timestamp_to_datetime_conversion(row):
    return datetime.datetime.fromtimestamp(row['Timestamp']).strftime('%Y-%m-%d %H:%M:%S')
        
df['datetime'] = df.apply(timestamp_to_datetime_conversion, axis=1)

In [8]:
df['datetime_pandas'] = pd.to_datetime(df['datetime'])
df['day_of_month'] = df['datetime_pandas'].dt.day
df['month'] = df['datetime_pandas'].dt.month
df['year'] = df['datetime_pandas'].dt.year
df['weekday'] = df['datetime_pandas'].dt.weekday
df['week'] = df['datetime_pandas'].dt.week
df['hour'] = df['datetime_pandas'].dt.hour
df['minute'] = df['datetime_pandas'].dt.minute

## Save DataFrame for later use

In [9]:
df.to_csv('../data/bitstamp_minute_data.csv', sep=',', index=False)